body {
  margin: auto;
  font-family: system-ui, sans-serif;
  background: #fbf5f5;
  color: #222;
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.node {
  width: fit-content;
  max-width: 80px;
  max-height: 60px;
  padding: 5px;
  background-color: #79c37c;
  border: 2px solid #2e7d32;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 14px;
  line-height: 1.2;
}
.node:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.new-node {
    border: 1px solid black;
    background-color: beige;
    border-radius: 5px;
}

.node-panel {
    background: rgb(193, 224, 235);
    border: 1px solid black;
    border-radius: 8px;
    z-index: 1000;
    padding: 5px;
}

.save-btn {
    margin-top: 10;
    margin-left: 5;
    padding: "5px 10px";
    border-radius: 5px;
    background-color: rgb(157, 252, 157);
    color: "white";
    border: "none";
}
.save-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.del-btn {
    margin-top: 20;
    padding: "5px 10px";
    border-radius: 5px;
    background-color: rgb(252, 166, 157);
    color: "white";
    border: "none";
}
.del-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.notes-box {
    height: fit-content;

}

.login-form {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(210, 193, 243);
    padding: 6px;
}
.btn:hover {
    transform: scale(1.1);
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(161, 123, 238);
}